<mat-card class="card">
  <mat-card-title> {{ title }} </mat-card-title>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div style="display: flex; justify-content: space-around">
      <div style="display: flex; flex-direction: column">
        <label class="mat-title"></label>
        <span class="mat-h4"></span>
      </div>
    </div>

    <!-- {{ assign | json }} -->
    <div style="display: flex; justify-content: space-between">
      <label class="mat-title">Grades</label>
      <button mat-icon-button color="primary" (click)="onAddClicked()">
        <mat-icon> add </mat-icon>
      </button>
    </div>

    <!-- need to show only studings in the class in the add form -->
    <div *ngIf="showAddGradeForm">
      <mat-form-field appearance="fill" style="margin-right: 10px">
        <mat-label>Students</mat-label>
        <mat-select [(ngModel)]="studentSelected">
          <mat-option
            *ngFor="let student of _class.students"
            [value]="student._id"
          >
            {{ student.firstName }} {{ student.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="margin-right: 10px">
        <mat-label>Grade</mat-label>
        <input matInput [(ngModel)]="studentGrade" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onAddGrade()">
        Add
      </button>
    </div>

    <grade-assist-table
      [tableConfig]="gradesGridConfig"
      [tableData]="assign!.grades"
    ></grade-assist-table>
  </mat-card-content>
</mat-card>
