<mat-card
  style="width: 500px; margin: 5em auto 0; height: 30em"
  mat-elevation-z24
>
  <mat-card-title style="text-align: center">Grade Assist</mat-card-title>
  <mat-card-content>
    <mat-divider></mat-divider>
    <grade-assist-form
      [formConfigs]="formConfig"
      (formSubmitted)="formHandler($event)"
    ></grade-assist-form>
    <button>Login as Admin</button>
    <button>Login as Student</button>
    <button>Login as Teacher</button>
    <!-- based on user type it will have different functionalities
admin will control privileges
api will have a middleware to check against the api being call and what access user has -->
  </mat-card-content>
</mat-card>
