<div *ngIf="!isAuthorized" style="height: 100%; width: 100%">
  <grade-assist-login></grade-assist-login>
</div>

<div *ngIf="isAuthorized" style="height: 100%; width: 100%">
  <header>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span style="flex: 1 1 auto"></span>
      <button color="warn" mat-mini-fab (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </header>

  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="drawer" mode="side" opened>
      <mat-nav-list *ngFor="let navItem of menu">
        <mat-list-item>
          <mat-icon color="primary">{{ navItem.icon }}</mat-icon>
          <a matLine routerLink="{{ navItem.route }}"> {{ navItem.label }}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content class="content">
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
