<div *ngIf="!isAuthorized" class="full-container" id="login-container">
  <grade-assist-login></grade-assist-login>
</div>

<div *ngIf="isAuthorized" class="full-container" id="app-container">
  <header>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span style="flex: 1 1 auto"></span>
      <button
        color="accent"
        mat-mini-fab
        [routerLink]="['/messages']"
        (click)="drawer.close()"
      >
        <mat-icon>inbox</mat-icon>
      </button>
      <button color="warn" mat-mini-fab (click)="onLogout()" id="logout-button">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </header>

  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="drawer" mode="side" opened>
      <mat-nav-list *ngFor="let navItem of priviledgeMenu">
        <mat-list-item>
          <mat-icon color="primary">{{ navItem.icon }}</mat-icon>
          <a matLine routerLink="{{ navItem.route }}"> {{ navItem.label }}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content class="content">
      <router-outlet class="content"></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
