<mat-card class="card">
  <mat-card-title> {{ title }} </mat-card-title>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div style="display: flex; justify-content: space-around">
      <div style="display: flex; flex-direction: column">
        <label class="mat-title">Name</label>
        <span class="mat-h4">{{ _class.name }}</span>
      </div>
      <div style="display: flex; flex-direction: column">
        <label class="mat-title">Code</label>
        <span class="mat-h4">{{ _class.code }}</span>
      </div>
      <div style="display: flex; flex-direction: column">
        <label class="mat-title">Teacher</label>
        <span class="mat-h4">
          {{ _class.teacher?.firstName }} {{ _class.teacher?.lastName }}
        </span>
      </div>
    </div>
    <label class="mat-title">Students</label
    ><button mat-icon-button color="primary" (click)="onAddStudentsClicked()">
      <mat-icon> add </mat-icon>
    </button>

    <grade-assist-table
      [tableConfig]="studentGridConfig"
      [tableData]="_class.students"
      (rowDeleted)="onStudentDelete($event)"
      (updateRow)="onStudentUpdate($event)"
    ></grade-assist-table>

    <label class="mat-title">Assignments</label>
    <button mat-icon-button color="primary" (click)="onAddAssignmentClicked()">
      <mat-icon> add </mat-icon>
    </button>

    <grade-assist-table
      [tableConfig]="assignGridConfig"
      [tableData]="_class.assignments"
      (rowDeleted)="onAssignmentDelete($event)"
      (updateRow)="onAssignmentUpdate($event)"
      (viewRowDetails)="onAssignmentClicked($event)"
    ></grade-assist-table>
  </mat-card-content>
</mat-card>
