.container {
  width: 100%;
  height: 100%;
  display: flex;

  aside {
    display: flex;
    flex-grow: 1;
  }

  main {
    display: flex;
    flex-grow: 5;
  }

  #convo_list {
    // flex-grow: 1;
    overflow: scroll;
  }

  #convo_detail {
    border-left: 1px solid gray;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
