<mat-card class="card">
  <mat-card-title> Welcome, {{ loggedInUser.email }} ! </mat-card-title>
  <mat-card-content>
    <mat-divider></mat-divider>

    <div [ngSwitch]="loggedInUser.userType">
      <div *ngSwitchCase="'admin'">
        <mat-action-list>
          <button mat-list-item>View All Teachers</button>
          <button mat-list-item>View All Students</button>
          <button mat-list-item>View All Classes</button>
          <button mat-list-item>View All Assignments</button>
          <button mat-list-item>Update a class's teacher</button>
          <button mat-list-item>Add Student to class</button>
        </mat-action-list>
      </div>

      <div *ngSwitchCase="'teacher'">
        <mat-action-list>
          <button mat-list-item>View My Classes</button>
          <button mat-list-item>View All Students</button>
          <button mat-list-item>View My Assignments</button>
          <button mat-list-item>Grade Assignment</button>
        </mat-action-list>
      </div>

      <div *ngSwitchCase="'student'">
        <mat-action-list>
          <button mat-list-item>View My Classes</button>
          <button mat-list-item>View My Grades</button>
          <button mat-list-item>View My Assignments</button>
        </mat-action-list>
      </div>

      <div *ngSwitchDefault>Loading...</div>
    </div>
  </mat-card-content>
</mat-card>
