<mat-card class="card">
  <mat-card-title> Home </mat-card-title>
  <mat-card-content>
    <div>
      <span>Admin</span>
      <span>view all teachers</span>
      <span>view all students</span>
      <span>view all classes</span>
      <span>update a class teacher</span>
      <span>add student to class</span>
    </div>

    <div>
      <span>Teacher</span>
      <span>view my classes</span>
      <span>view all students</span>
      <span>view my assignments</span>

      <span>grade assignment;</span>
    </div>

    <div>
      <span>Student</span>
      <span>view my classes</span>
      <span>view my assignments</span>
      <span>view my grades</span>
    </div>
  </mat-card-content>
</mat-card>
