.card {
  padding: 4em;
  width: 85%;
  margin: 0 auto;
}

#container {
  display: flex;
  padding-top: 2em;
}

#userInfo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#quickLinks {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
